<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名控件：绑定对应的Dao/Mapper接口，通过namespace定位-->
<mapper namespace="com.ldr.dao.UserMapper">

    <!--
        解决方法2：结果集映射
    -->

    <resultMap id="userMap" type="User">
        <!--column: 数据库字段，property: 实体类属性-->
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="password"/>
    </resultMap>

    <select id="getUserById" resultMap="userMap">
        <!--
            解决方法1：
                起别名：
                      select * from mybatis.user where id = #{id}
                    = select id,name,pwd from mybatis.user where id = #{id}
                起别名后：
                    = select id, name, pwd as password from mybatis.user where id = #{id}
        -->
        <!--select id, name, pwd as password from mybatis.user where id = #{id}-->
        select * from mybatis.user where id = #{id}
    </select>

    <!--分页-->
    <select id="getUserByLimit" parameterType="map" resultType="user" resultMap="userMap">
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>

    <!--通过rowBounds分页-->
    <select id="getUserByRowBounds" resultMap="userMap" resultType="user">
        select * from mybatis.user
    </select>
</mapper>